@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand-01: #eaf3f4;
  --color-brand-02: #daedf0;
  --color-brand-03: #b5dbe0;
  --color-brand-04: #94c8ce;
  --color-brand-05: #71afb6;
  --color-brand-06: #4c8e95;
  --neutral-00: #ffffff;
  --neutral-01: #f1f1f1;
  --neutral-02: #c4c4c4;
  --neutral-03: #8a8a8a;
  --neutral-04: #575757;
  --negative-01: #ff8b8b;
  --negative-02: #ff614d;
  --success-01: #76d37a;

  /* 非必要色 */
  --extraordinary-01: linear-gradient(
    90deg,
    var(--color-brand-02, #94c8ce) 0%,
    var(--color-brand-03, #4c8e95) 100%
  );
  --extraordinary-02: linear-gradient(
    90deg,
    var(--color-brand-03, #b5dbe0) 0%,
    var(--color-brand-05, #71afb6) 100%
  );
  --extraordinary-03: linear-gradient(
    90deg,
    var(--color-brand-04, #daedf0) 0%,
    var(--color-brand-06, #b5dbe0) 100%
  );

  /* 次要色 */
  --secondary-01: #63a7c8;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-button: #71afb6;
  /*  tree chart 相關變數 */
  --color-parent-node: #ffbc40;
  --color-node-active: #71afb6;
  --color-node-disabled: #c4c4c4;
  --color-node-line: #9fbaca;
  --color-node-text: white; /* 一般節點的文字顏色 */
  --color-node-template: #71afb6; /* 【模板】類型的節點的文字色 */
  --color-toolbar-icon-trigger: #8265da; /* 觸發事件的toolbar icon色 */
  --color-toolbar-icon-response: #96c5d7; /* 回應事件的toolbar icon色 */
  --color-toolbar-icon-action: #f9c357; /* 投放管道的toolbar icon色 */
  --color-toolbar-icon-default: #65da96; /* 預設的toolbar icon色 */
  --tree-line-height: 50px; /* 樹狀圖 連結線的高度 */
  --width-card: 120px; /* 所有節點的寬度 */
  --width-node-icon: 60%; /* 節點內的icon寬度 */
  --width-node-connect: 40%; /* 節點連接線第一層的寬度。會影響最多有幾層 節點不會重疊 */
  /* tree chart 相關變數 */
}

a {
  font-weight: 500;
  color: #1a1a1a;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: start center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input[type="text"] {
  height: 40px;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}
input[type="text"]:focus {
  border: 1px solid #c4c4c4;
  outline: none;
}
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  outline: none;
}

#app {
  /* max-width: 1280px; */
  width: 100dvw;
  min-height: 100dvh;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* 自動化劇本測試 */
.card {
  width: 120px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
}
.rectangle {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
}
.empty {
  width: 45px;
  aspect-ratio: 1;
  border: 2px solid #ffffff;
  border-radius: 4px;
  border-style: dashed;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  appearance: none; /* 移除原生外觀 */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 1px solid #c4c4c4;
  position: relative; /* 為偽元素定位準備 */

  padding: 10px;
  background-color: white;
  border-radius: 50%;

  cursor: pointer;
  user-select: none;
  vertical-align: bottom;
}
input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 14px;
  height: 14px;
  background-color: #71afb6; /* 被選中時的顏色 */
  border-radius: 50%;
}
input[type="radio"]:hover {
  cursor: pointer;
}
