@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-button:#71AFB6;
  /*  tree chart 相關變數 */
  --color-parent-node:#ffbc40;
  --color-node-active:#71afb6;
  --color-node-disabled:#c4c4c4;
  --color-node-line:#9fbaca;
  --color-node-text:white; /* 一般節點的文字顏色 */
  --color-node-template:#71AFB6; /* 【模板】類型的節點的文字色 */  
  --color-toolbar-icon-trigger:#8265DA; /* 觸發事件的toolbar icon色 */  
  --color-toolbar-icon-response:#96C5D7; /* 回應事件的toolbar icon色 */  
  --color-toolbar-icon-action:#F9C357; /* 投放管道的toolbar icon色 */  
  --color-toolbar-icon-default:#65da96; /* 預設的toolbar icon色 */  
  --tree-line-height: 50px; /* 樹狀圖 連結線的高度 */
  --width-card:120px; /* 所有節點的寬度 */
  --width-node-icon:60%; /* 節點內的icon寬度 */
  --width-node-connect:40%; /* 節點連接線第一層的寬度。會影響最多有幾層 節點不會重疊 */
  /* tree chart 相關變數 */

}

a {
  font-weight: 500;
  color: #1a1a1a;
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  place-items: start center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input[type="text"] {
  height: 40px;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;  
}
input[type="text"]:focus{
  border: 1px solid #c4c4c4;  
  outline: none;
}
textarea{
  border: 1px solid #c4c4c4;  
  border-radius: 10px;
  outline: none;
}

#app {
  /* max-width: 1280px; */
  width: 100dvw;
  min-height: 100dvh;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* 自動化劇本測試 */
.card {
  width: 120px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
}
.rectangle {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
}
.empty {
  width: 45px;
  aspect-ratio: 1;
  border: 2px solid #ffffff;
  border-radius: 4px;
  border-style: dashed;
}